{% extends "base/base.html" %}
{% load static %}

{% block pageTitle %}Login{% endblock pageTitle %}
{% block content %}

<!--A template for the addition and editting of form for student program-->
    <div class="row d-flex justify-content-center mx-1 my-2 m-sm-5">
        <div class="d-flex col-12 col-sm-4 bg-primary justify-content-center align-items-center p-3">
            <img id="blah" class="col-4 col-sm-7 bg-primary" src="{% static "base/images/wbm-logo-400x400.png" %}" alt="wbm logo"> 
        </div>
        <div class="col-12 col-sm-4 bg-white">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                  <legend class="border-bottom mb-4">Reset Password</legend>
                  {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                  <button class="btn btn-outline-info" type="submit">Reset Password</button>
                </div>
              </form>
        </div>

        
    </div>
    
{% endblock content %}
