{% extends "base/base.html" %}
{% load static %}

{% block pageTitle %}Dashboard{% endblock pageTitle %}

{% block content %}

    <div class='row d-flex justify-content-between'>
        <div class="col-3 bg-white my-4 p-2 border rounded shadow text-primary">
            {% include "main/sidemenu.html" %}
        </div>
        <div class="col-8 bg-white my-4 p-2 border rounded shadow-lg">
            <h3>Classes</h3>
            
            {% for program in programs  %}
            <a href="{% url "program" program.id %}" class="text-white text-decoration-none">
                <div class="bg-secondary col-4 mb-2">
                    <ul class="list-group">
                        <li class="list-group-item bg-success text-white">Class: {{ program.program_name }} </li>
                        <li class="list-group-item bg-success text-white">Year: {{ program.created }}</li>
                    </ul>
                    
                </div>
            </a>
                
            {% endfor %}
        </div>
    </div>
    
{% endblock content %}