<!--Side menu for mobile-->
<div class="row">
    <div class="col-6">
        <li class="list-group-item"><a href="{% url "dashboard" %}" class="fs-5 list_style-none text-decoration-none">Dashboard</a></li>
    </div>
    <div class="col-6">
        <li class="list-group-item"><a href="{% url "addProgram" %}" class="fs-5 text-decoration-none">Add Program</a></li>
    </div>
    <div class="col-6">
        <li class="list-group-item"><a href="{% url "addStudent" %}" class="fs-5 text-decoration-none">Add Student</a></li>
    </div>
    <div class="col-6">
        <li class="list-group-item"><a href="{% url "allUsers" %}" class="fs-5 text-decoration-none">User</a></li>
    </div>
</div>