<!--Side menu for pc-->
<h2>Menu</h2>

<ul class="list-group">
    <li class="list-group-item"><a href="{% url "dashboard" %}" class="fs-5 list_style-none text-decoration-none">Dashboard</a></li>
    {% if request.user.is_superuser %}
    <li class="list-group-item"><a href="{% url "addProgram" %}" class="fs-5 text-decoration-none">Add Program</a></li>
    <li class="list-group-item"><a href="{% url "addStudent" %}" class="fs-5 text-decoration-none">Add Student</a></li>
    <li class="list-group-item"><a href="{% url "allUsers" %}" class="fs-5 text-decoration-none">User</a></li>
    <li class="list-group-item"><a href="{% url "message" %}" class="fs-5 text-decoration-none">Messages({{num_of_unread}})</a></li>
    {% endif %}
</ul>