{% extends "base/base.html" %}
{% load static %}

{% block pageTitle %}Dashboard{% endblock pageTitle %}

{% block content %}

    <div class='row'>
        <div class="col-3 bg-white my-4 p-2 border rounded shadow text-primary">
          {% include "main/sidemenu.html" %}
        </div>
        <div class="col-9 bg-white my-4 p-2 border rounded shadow-lg">
            <div class="row">
                <div class="col">
                    <h4 class="text-center text-primary">Student Information</h4>
                    <img src="{{student.image.url}}" alt="student image" width="150" height="150" class="bg-warning">
                    <p class="row my-1 ms-1"><span class="col-5 bg-info p-1 fs-5 text-primary">First Name:</span><span class="col-6 bg-warning text-gray fs-5">{{student.first_name|title}}</span></p>
                    <p class="row my-1 ms-1"><span class="col-5 bg-info p-1 fs-5 text-primary">Middle Name:</span><span class="col-6 bg-warning text-gray fs-5">{{student.middle_name|title}}</span></p>
                    <p class="row my-1 ms-1"><span class="col-5 bg-info p-1 fs-5 text-primary">Last Name:</span><span class="col-6 bg-warning text-gray fs-5">{{student.last_name|title }}</span> </p>
                    <p class="row my-1 ms-1"><span class="col-5 bg-info p-1 fs-5 text-primary">Form:</span><span class="col-6 bg-warning text-gray fs-5">{{student.program.program_name|title }}</span></p>
                </div>
                <div class="col">
                    <div class="col">
                        <h4 class="text-center text-primary">Payment log</h4>
                        {% for payment in payments %}
                        <p class="row my-1 ms-1"><span class="col-5 bg-info p-1 fs-5 text-primary">{{ payment.created }}</span><span class="col-6 bg-warning text-gray fs-5">{{payment.amount}}</span></p>
                        {% endfor %}
                        <p class="row my-1 ms-1 text-white"><span class="col-5 bg-success p-1 fs-5">Credit:</span><span class="col-6 bg-success text-gray fs-5">{{ studentTotalCredit }}</span></p>
                        <p class="row my-1 ms-1 text-white"><span class="col-5 bg-danger p-1 fs-5">Balance:</span><span class="col-6 bg-danger fs-5">{{ studentBalance}}</span></p>
                    </div> 
                </div>
            </div>
            <div class="d-flex justify-content-start">
                <a href="{% url "addCredit" student.id %}"><button class="bg-primary border border-0 rounded-pill text-lime py-2 px-5 mb-5 mt-4 me-2">Make Payment</button></a>
                <a href="{% url 'editStudent' student.id %}"><button class="bg-primary border border-0 rounded-pill text-lime py-2 px-5 mb-5 mt-4 me-2">Edit Details</button></a>
            </div>
        </div>
    </div>
    
{% endblock content %}